body {
    width: 1600px;
    margin: 0 auto;
    font-family: "Fira Sans", sans-serif;
    /* background-color: aqua; */
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;

}

.top-items {
    display: flex;
    margin: 31px 160px;
    justify-content: space-between;
    height: 100px;

}

.btn-sign-in {
    width: 116px;
    height: 52px;
    border: 1px #0E0E0E;
    border-radius: 8px;
    color: #006A50;
    font-weight: 600px;
    font-size: 18px;
}

.bangladesh-image {
  display: flex;
  width: 80%;
  max-width: 1280px;
  height: 560px;
  align-items: center;
  margin: 0 auto;
  background-color: #C6E4D6;
  justify-content: space-between;
  border: none;
  border-radius: 24px;
}
.inspairation {
 width: 622px;
  margin-left: 60px;
}
.inspairation h2 {
    font-size: 56px;
    font-weight: bold;
}

.inspairation p {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}


.btn-discover {
    width: 270px;
    height: 56px;
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}