body {
    width: 1600px;
    margin: 0 auto;
    font-family: "Fira Sans", sans-serif;
    background-color: #F1F1F3;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;

}

.top-items {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    height: 100px;
    width: 1280px;
    align-items: center;
   
    /* border: 1px solid #006A50; */

}

.btn-sign-in {
    width: 116px;
    height: 52px;
    border: 1px solid #006a509d;
    border-radius: 8px;
    color: #006A50;
    font-weight: 600px;
    font-size: 18px;
    background-color: #FFFFFF;
}

.hero-container {
  display: flex;
  width: 80%;
  max-width: 1280px;
  height: 560px;
  align-items: center;
  margin: 0 160px;
  background-color: #C6E4D6;
  justify-content: space-between;
  border: none;
  border-radius: 24px;
  margin-top: 20px;

}
.inspairation {
 width: 622px;
  margin-left: 60px;
}
.inspairation h2 {
    font-size: 56px;
    font-weight: bold;
}

.inspairation p {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}


.btn-discover {
    width: 270px;
    height: 56px;
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}

.card-container {
    width: 302px;
    height: 244px;
    padding: 24px;
}
.pillar-section {
   width: 80%;
   margin: 0 auto;
   margin-top: 80px;
}
.card-section {
    display: flex;
    gap: 24px;
    
   
}

.card-container {
    width: 302px;
    height: 244px;
    padding: 24px;
    /* border: 1px solid #006A50; */
    border-radius: 16px;
    box-shadow: #0e0e0e21;
    background-color: #FFFFFF;
}